<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro - Passo 1</title>
</head>       
<body>
    <h1></h1>
    <form method="post">
        <table>
            <tr>Nome: <input type="text" value="" name="nome"></tr>
            <tr>Sobrenome: <input type="text" value="" name="sobrenome"></tr>
            <tr>Email: <input type="text" value="" name="email"></tr>
            <tr>Data: <input type="date" value="" name="dataNasc"></tr>
            <tr>CPF: <input type="text" value="" name="cpf"></tr>
        </table>     
        <button type="submit">Salvar e Continuar</button>
    </form>
</body>
</html>