<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro Cliente</title>
</head>       
<body>
	<div align='left'>
    <h1>Passo 1:</h1>
	    <form method="post">
	        Nome: <input type="text" value="" name="nome"></br>
	        Sobrenome: <input type="text" value="" name="sobrenome"></br>
	        Email: <input type="text" value="" name="email"></br>
	        Data: <input type="date" value="" name="dataNasc"></br>
	        CPF: <input type="text" value="" name="cpf"></br>
	        <button type="submit">Salvar e Continuar</button>
	    </form>
    </div>
</body>
</html>